html {
    height: 100%;
}

body {
    background-color: #eaebe8;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
}

body::after{
    content: '';
    display: block;
    height: 150px;
}

ul.nav {
    background-color: #445369;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

ul.nav li a {
    background-color: #445369;
    color: #dce4e3;
    display: block;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    ul.nav li a {
        float: none;
    }
}

.nav li a.active {
    background-color: #678596;
}

.content {
    padding: 10px 20px 0 20px;
}

code {
    background-color: #d8d8d8;
    border-radius: 2px;
    font-family: monospace;
    font-feature-settings: 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'zero';
    font-size: 1em;
    padding: 2px 2px 1px 2px;
    vertical-align: 0.0625em;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    margin: 10px 0 2px 0;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    margin: 10px 0 2px 0;
}

.imglist {
    text-align: center;
}

img {
    transition:transform 0.3s ease;
}

img:hover {
    -webkit-transform:scale(1.2); /* or some other value */
    transform:scale(1.2);
}

p {
    font-family: "Lora", serif;
    font-size: 0.875em;
    margin: 8px 0;
}

p.caption {
    font-family: "Lora", serif;
    font-size: 0.75em;
    margin: 0 0 2px 0;
}

.list {
    font-family: "Lora", serif;
    font-size: 0.875em;
    margin: 8px 0;
}

.list a, .list p {
    display: table;
    font-size: 1em;
    margin: 0;
}

a:link {
    color: #386cb9;
}

a:link:active, a:link:hover, a:visited {
    color: #7f4cc2;
}

a:visited:active, a:visited:hover {
    color: #b34792;
}

.list a:link, .list a:visited {
    box-shadow: inset 0 -1px 0 #777b7e66;
    text-decoration: none;
}

.list a:hover, .list a:active {
    box-shadow: inset 0 -1.2em 0 #b9c0c466;
}

table, th, td {
    border-collapse: collapse;
    font-family: "Lora", serif;
    font-size: 0.875em;
}

table {
    border: 1px solid black;
    margin: 0 0 8px 0;
}

th {
    background-color: #eff0ec;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 5px 10px 3px 10px;
}

td {
    border-right: 1px solid black;
    padding: 5px 10px;
}

tr:nth-child(even) {
    background-color: #d9dad8;
}

.footer {
    background-color: #7a8b89;
    bottom: 0;
    height: 140px;
    position: absolute;
    width: 100%;
}