.game-container {
  display: flex;
  flex-direction: row;
}

.game-board-container {
  display: inline-block;
  flex: none;
  margin: 50px auto;
}

.game-board-container::before {
  flex: auto;
}

.game-board-container::after {
  flex: auto;
}

.game-board {
  background-image: url("../images/chess_board_everforest.png");
  height: 640px;
  width: 640px;
}

.game-board div {
  position: absolute;
}
