.game-container {
  display: flex;
  flex-direction: row;
}

.game-board-container {
  display: inline-block;
  flex: none;
  margin: 4rem auto;
}

.game-board-container::before {
  flex: auto;
}

.game-board-container::after {
  flex: auto;
}

.game-board {
  background-image: url("../images/chess_board_everforest.png");
  background-size: cover;
  height: 40rem;
  width: 40rem;
}

.game-piece {
  height: 5rem;
  width: 5rem;
}

.game-tile-highlight {
  height: 5rem;
  position: absolute;
  width: 5rem;
}
