@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  display: flex;
  flex-direction: column;
  font-family: "Source Serif Pro", serif;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

body.theme {
  background-color: var(--theme-bg);
  color: var(--theme-fg);
}

.container {
  margin: 1.25rem 2.5rem;
}

h1 {
  font-family: "Fira Sans", sans-serif;
  margin: .25rem 0 .5rem 0;
}

.link-list {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--theme-blue);
  text-decoration: none;
}

p {
  margin: 0;
}

blockquote {
  border-left: 0.25rem solid var(--bg2);
  margin: 0.5rem 0.125rem;
  padding-left: 1rem;
}

code {
  font-family: "Fira Code", monospace;
}

.code {
  font-family: "Fira Code", monospace;
}
